/* COLORS */
/* 
MAIN: #eef1f6,
      #f0f1f7,
      #0e1133,

TEXT: #0e1133

BUTTONSs/ICONS: #ff3e66,
                #2eacfc,
                #33c956,
                #32c36a
                #0e1133,
                #83aaf8,
                #f3b8c8,
                #2a6df5,
                #64d28e,
*/
/* SPACING SYSTEM IN px to rem */
/* 4 / 8 / 12 / 16 / 20 / 24 / 32 / 48 / 56 / 64 / 76 / 82 / 92 / 106 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #0e1133;
  overflow-x: hidden;
  position: relative;
}

input:focus {
  outline: none;
}

input {
  text-align: start;
  font-size: 1.9rem;
  font-weight: 500;
  width: 70%;
}

input::placeholder {
  /* font-weight: 500;
  font-size: 2rem;
  text-align: start;
  padding-left: 3rem; */
}
button {
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.go {
  position: fixed;
  right: 10px;
  font-size: 2rem;
  color: #fff;
  bottom: -40px;
  padding: 1rem;
  background-color: rgba(255, 62, 101, 0.2);
  border-radius: 10px;
  transition: 0.3s all;
  cursor: pointer;
}
.go:hover {
  background-color: #ff3e66;
}

.go.up {
  bottom: 10px;
}

/* a {
  display: inline-block;
} */

.btn {
  padding: 1.1rem 3.2rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.bolding {
  font-weight: 800;
}

.icon {
  display: inline-block;
}

.section-title {
  padding-inline: 9.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8.4rem 0;
}
.heading-primary {
  font-size: 7rem;
  font-weight: 400;
  line-height: 1.15;
}

.heading-secondary {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.3;
}

.heading-trio {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.subtext-heading {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55;
  color: #999;
  margin-top: 5px;
}
