/* SPACING SYSTEM IN px to rem */
/* 4 / 8 / 12 / 16 / 20 / 24 / 32 / 48 / 56 / 64 / 76 / 82 / 92 / 106 */

/******************************************
NAVIGATION BAR
******************************************/

.nav-logo {
  height: 4.4rem;
  padding-top: 1rem;
  padding-right: 5.4rem;
  padding-left: 0.71rem;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eef1f6;
  padding: 6.4rem 9.4rem;
  height: 12rem;
}

.nav-list {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  list-style: none;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.7rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav-icon {
  width: 1rem;
}

.nav-main-link:link,
.nav-main-link:visited {
  text-decoration: none;
  color: #0e1133;
  transition: all 0.3s;
  padding: 5px;
  border: 2px solid #eef1f6;
}

.nav-main-link:hover,
.nav-main-link:active {
  cursor: pointer;
  color: #ff3e66;
  border: 2px solid #ff3e66;
  border-radius: 3rem;
}

.get-btn:link,
.get-btn:visited {
  background-color: #ff3e66;
  border: #ff3e66 solid 3px;
  font-weight: 600;
  color: #fff;
}
.get-btn:hover,
.get-btn:active {
  background-color: white;
  color: #0e1133;
}

/* HERO SECTION */

.hero {
  background-color: #eef1f6;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 16rem;
  margin-bottom: 10rem;
  align-content: center;
  justify-content: flex-start;
}

/******************************************
      HERO SECTION
******************************************/

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15rem;
}
.hero-text {
  margin-bottom: 15px;
}

.hero-mail {
  background-color: white;
  margin-top: 4rem;
  height: 7rem;
  width: 45rem;
  border-radius: 5rem;
  box-shadow: -0.3rem 0 0 0rem #ff3e66, 0 1rem 1rem 0.6rem rgb(0 0 0 / 6%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
}

.mail-icon {
  width: 2.5rem;
  height: 2rem;
  opacity: 0.4;
}

.hmail {
  border-style: none;
}

.send {
  width: 7rem;
  height: 7rem;
  border: 0px white;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  align-items: center;
  color: #ff3e66;
}

.hero-send-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 400;
}

/******************************************
              FEEDBACK
******************************************/
.feedback {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.customers {
  display: flex;
  padding-left: 2rem;
  background-color: rgba(0, 0, 0, 0.045);
  border-radius: 4rem 4rem 1rem 1rem;
}

.first-z {
  z-index: 4;
}
.second-z {
  z-index: 3;
}
.third-z {
  z-index: 2;
}
.forth-z {
  z-index: 1;
}

.customer {
  width: 5.2rem;
  height: 5.5rem;
  border: 3.5px solid #fff;
  border-radius: 50%;
  margin-left: -1.6rem;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.feednum {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
}

.feednum span {
  font-weight: 900;
  font-size: 3rem;
}

/******************************************
HOW SECTION
******************************************/

.how {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 3.6rem;
  padding-inline: 9.6rem;
  justify-content: space-evenly;

  margin-bottom: 10rem;
}

.feature-btn:link,
.feature-btn:visited {
  background-color: #fff;
  border: 3px solid #ddd;
  color: #0e1133;
  font-weight: 500;
}

.feature-btn:hover,
.feature-btn:active {
  background-color: #0e1133;
  color: #fff;
}

.icon-feature {
  vertical-align: middle;
  font-size: 2.4rem;
  font-weight: 400;
}

.how-feature {
  padding: 6rem 7.4rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s;
}

.how-feature:hover {
  transform: translateY(-3px) scale(1.05);
}

.how-feature:nth-child(1):hover {
  box-shadow: 0px -3px 0 #2facfc;
}
.how-feature:nth-child(2):hover {
  box-shadow: 0px -3px 0 #ea4d89;
}
.how-feature:nth-child(3):hover {
  box-shadow: 0px -3px 0 #3679ff;
}
.how-feature:nth-child(4):hover {
  box-shadow: 0px -3px 0 #f67842;
}
.how-feature:nth-child(5):hover {
  box-shadow: 0px -3px 0 #6b88f7;
}
.how-feature:nth-child(6):hover {
  box-shadow: 0px -3px 0 #3bb094;
}

.read-btn:link,
.read-btn:visited {
  margin-top: 2.6rem;
  color: #999;
  font-size: 1.6rem;
  font-weight: 800;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.3s;
  padding: 5px;
  border: 2px solid #fff;
}
.read-btn:hover,
.read-btn:active {
  transition: ease-out 0.5s;
  color: #ff3e66;
  border: 2px solid #ff3e66;
  border-radius: 3rem;
}

.feature-icon {
  width: 1.8rem;
  height: 1.8rem;
  padding: 2rem;
  margin-bottom: 3rem;
  border: 0;
  background-color: #2facfc;
  color: white;
  border-radius: 50%;
}

.i2 {
  background-color: #ea4d89;
}
.i3 {
  background-color: #3679ff;
}

.i4 {
  background-color: #f67842;
}

.i5 {
  background-color: #6b88f7;
}

.i6 {
  background-color: #3bb094;
}

/******************************************
 MARKETING SECTION 
 ******************************************/

.marketing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
  height: 50rem;
  column-gap: 2rem;
  margin-inline: 11rem;
  margin-bottom: 12rem;
  padding-inline: 4.6rem;
  padding-top: 5rem;
  background-color: #f0f1f7;
  overflow: hidden;
}

.marketing-img {
  width: 105%;
  height: 87%;
  object-fit: cover;
  padding-inline: 3rem;
}

.mar-first {
  padding-top: 3rem;
  padding-right: 3rem;
}

.mar-small {
  font-weight: 800;
  font-size: 1.6rem;
  color: #ea4d89;
}
.market-icon {
  vertical-align: text-bottom;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: white;
  background-color: #32c36a;
  margin-top: 0.8rem;
}
.market-check {
  display: flex;
  gap: 3.2rem;
  margin-top: 4rem;
}

.market-feature {
  display: flex;
  gap: 1.2rem;
}

/******************************************
  Need-us Section
 ******************************************/
.need {
  background-color: #0e1133;
}
.need-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 9.6rem;
  padding-bottom: 4.8rem;
}

.need-secondary {
  color: #fff;
  text-align: center;
}

.need-subtext {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.55;
  color: #fff;
  margin-top: 5px;
  text-align: center;
}

.three-goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-content: center;
  align-content: center;
  gap: 5rem;
  padding-bottom: 4.8rem;
  margin-bottom: 10rem;
}
.the-goods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.need-subheading {
  line-height: 1.55;
  color: #999;
  margin-top: 5px;
  font-size: 1.6rem;
}

.goods-img {
  display: flex;
  justify-content: center;
}

.goods-img img {
  width: 80%;
  height: auto;
}

.good {
  display: flex;
  padding: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  transition: all 0.3s;
}

.good:hover {
  transform: translateY(-3px) scale(1.05);
}

.heading-need {
  color: white;
}
.goods-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(255, 62, 101, 0.2);
}
.g1 {
  background-color: #ff3e66;
  box-shadow: 0px 0px 0px 5px rgba(255, 62, 101, 0.25);
}

.g2 {
  background-color: rgb(47, 173, 252);
  box-shadow: 0px 0px 0px 5px rgba(47, 173, 252, 0.25);
}
.g3 {
  background-color: #33c956;
  box-shadow: 0px 0px 0px 5px rgba(51, 201, 86, 0.25);
}

/******************************************
 STATS SECTION 
 ******************************************/

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-content: center;
  column-width: 1rem;
  gap: 6.4rem;
  /* column-gap: 12rem;
  row-gap: 6.4rem; */
  padding-inline: 9.6rem;
  margin-bottom: 10rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding-block: 5rem;
  box-shadow: 0rem 4rem 2rem 1rem rgb(0 0 0 / 4.5%);
  transition: all 0.3s;
}

.stats-container:hover {
  transform: translateY(-3px) scale(1.05);
}

.stats-number {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.stats-subtext {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: #0e1133;
}

/*********************************
 VIDEO SECTION
 *********************************/

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
  gap: 3rem;
  padding-inline: 6.4rem;
  margin-bottom: 10rem;
}

.video-app {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
}

.video-app img {
  display: inline-block;
  width: 100%;
}
.video-app a {
}

.video-app .subtext {
  align-self: center;
  padding-inline: 9.4rem;
  padding-top: 3.2rem;
}

.video-app .heading-secondary {
  font-size: 3.4rem;
}

.video-app .get-btn {
  display: inline-block;
  margin-top: 3.2rem;
}

.photo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone-app img {
  width: 100%;
  display: inline-block;
}

.slide-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.slide-buttons button {
  margin-top: 3.2rem;
  color: #0e1133;
  border: 3px solid #ddd;
  align-self: center;
}

.video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-down-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 62, 102);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.play::before,
.play::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
}

.play::before {
  width: 12rem;
  height: 12rem;
  transform: translate(-50%, -55%);
  border: 0.5px solid;
  border-color: transparent transparent rgb(255, 255, 255);
}
.play::after {
  width: 10.5rem;
  height: 10.5rem;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-color: #fff #fff transparent #fff;
}

.download {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 3rem;
  top: 50%;
  left: 70%;
  transform: translate(250%, -50%);
  color: #32c36a;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.download::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
}

/********************
        STORE SECTION
  ****************************/

.store-section {
  background-color: #eef1f6;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 12rem 10rem;
}

.store-section .subtext {
  padding-right: 10rem;
}

.options {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.6rem 3rem 1rem 2rem;
  border-radius: 2rem;
  background-color: #fff;
  border: 2px solid #0e1133;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.options:nth-child(1) {
  background-color: #0e1133;
  color: #fff;
}
.options:nth-child(1):hover {
  background-color: #fff;
  color: #0e1133;
}

.options:nth-child(2):hover {
  background-color: #0e1133;
  color: #fff;
}

.op-icon {
  font-size: 4.5rem;
}

.option .heading-trio {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
}
.system {
  font-size: 2.6rem;
}
